---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout>
  <Nav />
  <h1>Here are some of my thoughts</h1>
  <section>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
    <div>
      <h2>random blog post</h2>
      <img src="../assets/placeholder.png" alt="my blog images" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        ratione nam rem esse nesciunt at qui maiores eligendi doloremque
        accusantium.
      </p>
      <div>
        <span>Read More</span>
        <span>arrow</span>
      </div>
    </div>
  </section>
</Layout>
