---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout>
  <Nav />
  <section>
    <h1>Let's Build something great together</h1>
    <div>
      <button>Say Hi</button>
      <button>Book a Call</button>
    </div>
  </section>
</Layout>
