---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
  <Nav />
  <h1>This is the projects page.</h1>
  <Projects />
  <section>
    <h2>Experience</h2>
    <div>
      <h3>Trackly</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae est
        voluptate temporibus quibusdam labore mollitia quaerat dicta facere
        similique.
      </p>
      <ul>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
      </ul>
    </div>
    <div>
      <h3>FlyRank AI</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae est
        voluptate temporibus quibusdam labore mollitia quaerat dicta facere
        similique.
      </p>
      <ul>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
      </ul>
    </div>
    <div>
      <h3>Trackly</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae est
        voluptate temporibus quibusdam labore mollitia quaerat dicta facere
        similique.
      </p>
      <ul>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          adipisci.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h2>Certifications</h2>
    <div>
      <h3>Altschool Africa</h3>
      <p>Backend Developer Diploma</p>
    </div>
    <div>
      <h3>FlyRank AI</h3>
      <p>Backend AI Engineering Internship</p>
    </div>
    <div>
      <h3>HNG Internship</h3>
      <p>Backend development Internship</p>
    </div>
  </section>
</Layout>
