---
// BentoGrid.astro
// Tailwind v4. Breakpoints recreated as arbitrary variants: min-[400px]:, min-[600px]:, min-[800px]:
// Grid placement rebuilt with col-span / row-span / col-start / row-start instead of grid-template-areas.
---

<div
  class="grid w-[min(calc(100%-4rem),1520px)] mx-auto my-8 gap-4 grid-cols-1 auto-rows-[200px]
            min-[400px]:grid-cols-2
            min-[600px]:grid-cols-6
            min-[800px]:grid-cols-4"
>
  <!-- Sports Ware -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-2 row-span-1
              min-[400px]:row-start-3 min-[400px]:row-span-2 min-[400px]:col-span-2
              min-[600px]:row-start-3 min-[600px]:row-span-2 min-[600px]:col-start-1 min-[600px]:col-span-4
              min-[800px]:row-start-1 min-[800px]:row-span-1 min-[800px]:col-start-1 min-[800px]:col-span-1"
  >
    <p
      class="absolute z-[2] top-3 left-auto right-3 text-[0.9rem] text-right text-wrap-balance"
    >
      SportsWare
    </p>
    <img
      src="https://images.pexels.com/photos/1300526/pexels-photo-1300526.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Graphic Tees -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-1 row-span-1
              min-[400px]:row-start-1 min-[400px]:row-span-2 min-[400px]:col-span-2
              min-[600px]:row-start-1 min-[600px]:row-span-2 min-[600px]:col-start-1 min-[600px]:col-span-6
              min-[800px]:row-start-1 min-[800px]:row-span-2 min-[800px]:col-start-2 min-[800px]:col-span-2"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Graphic Tees
    </p>
    <img
      src="https://images.pexels.com/photos/2294342/pexels-photo-2294342.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Ladies Dresses -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-6 row-span-1
              min-[400px]:row-start-8 min-[400px]:row-span-1 min-[400px]:col-span-2
              min-[600px]:row-start-5 min-[600px]:row-span-1 min-[600px]:col-start-1 min-[600px]:col-span-6
              min-[800px]:row-start-1 min-[800px]:row-span-1 min-[800px]:col-start-4 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Ladies Dresses
    </p>
    <img
      src="https://images.pexels.com/photos/257849/pexels-photo-257849.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Ladies Bikini's -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-8 row-span-1
              min-[400px]:row-start-[11] min-[400px]:row-span-2 min-[400px]:col-start-1 min-[400px]:col-span-1
              min-[600px]:row-start-9 min-[600px]:row-span-3 min-[600px]:col-start-1 min-[600px]:col-span-3
              min-[800px]:row-start-2 min-[800px]:row-span-2 min-[800px]:col-start-1 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Ladies Bikini's
    </p>
    <img
      src="https://images.pexels.com/photos/881583/pexels-photo-881583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Youth Fashion -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-7 row-span-1
              min-[400px]:row-start-9 min-[400px]:row-span-2 min-[400px]:col-span-2
              min-[600px]:row-start-6 min-[600px]:row-span-2 min-[600px]:col-start-1 min-[600px]:col-span-4
              min-[800px]:row-start-2 min-[800px]:row-span-1 min-[800px]:col-start-4 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Youth Fashion
    </p>
    <img
      src="https://images.pexels.com/photos/6612634/pexels-photo-6612634.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Kids Fashion -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-5 row-span-1
              min-[400px]:row-start-6 min-[400px]:row-span-2 min-[400px]:col-span-2
              min-[600px]:row-start-3 min-[600px]:row-span-2 min-[600px]:col-start-5 min-[600px]:col-span-2
              min-[800px]:row-start-3 min-[800px]:row-span-1 min-[800px]:col-start-2 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Kids Fashion
    </p>
    <img
      src="https://images.pexels.com/photos/4715329/pexels-photo-4715329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Perfume & Cologne -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-4 row-span-1
              min-[400px]:row-start-5 min-[400px]:row-span-1 min-[400px]:col-start-2 min-[400px]:col-span-1
              min-[600px]:row-start-7 min-[600px]:row-span-1 min-[600px]:col-start-5 min-[600px]:col-span-2
              min-[800px]:row-start-3 min-[800px]:row-span-1 min-[800px]:col-start-3 min-[800px]:col-span-2"
  >
    <p
      class="absolute z-[2] top-3 left-auto right-3 text-[0.9rem] text-right text-wrap-balance"
    >
      Perfume & Colgne
    </p>
    <img
      src="https://images.pexels.com/photos/6690438/pexels-photo-6690438.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Mens Shirts -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-9 row-span-1
              min-[400px]:row-start-[11] min-[400px]:row-span-2 min-[400px]:col-start-2 min-[400px]:col-span-1
              min-[600px]:row-start-9 min-[600px]:row-span-3 min-[600px]:col-start-4 min-[600px]:col-span-3
              min-[800px]:row-start-4 min-[800px]:row-span-1 min-[800px]:col-start-4 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Mens Shirts
    </p>
    <img
      src="https://images.pexels.com/photos/19606373/pexels-photo-19606373/free-photo-of-smiling-men-in-shirts-standing-together-at-sunset.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Ladies Intimates -->
  <a
    href="#"
    class="group relative block overflow-hidden rounded-[10px] text-black no-underline
              after:content-[''] after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/25 after:to-transparent after:to-[25%]
              row-start-3 row-span-1
              min-[400px]:row-start-5 min-[400px]:row-span-1 min-[400px]:col-start-1 min-[400px]:col-span-1
              min-[600px]:row-start-6 min-[600px]:row-span-1 min-[600px]:col-start-5 min-[600px]:col-span-2
              min-[800px]:row-start-4 min-[800px]:row-span-1 min-[800px]:col-start-1 min-[800px]:col-span-1"
  >
    <p class="absolute z-[2] top-3 left-3 text-[0.9rem] text-wrap-balance">
      Ladies Intimates
    </p>
    <img
      src="https://images.pexels.com/photos/1615850/pexels-photo-1615850.jpeg?auto=compress&cs=tinysrgb&w=400"
      class="w-full h-full max-w-full block object-cover rounded-[10px] transition-transform duration-1000 ease-in-out group-hover:scale-[1.2] group-hover:rotate-[4deg]"
    />
  </a>

  <!-- Banner -->
  <div
    class="relative overflow-hidden rounded-[10px] bg-[#FFEDD5] grid place-content-center text-black
              row-start-10 row-span-1
              min-[400px]:row-start-[13] min-[400px]:row-span-1 min-[400px]:col-span-2
              min-[600px]:row-start-8 min-[600px]:row-span-1 min-[600px]:col-start-1 min-[600px]:col-span-6
              min-[800px]:row-start-4 min-[800px]:row-span-1 min-[800px]:col-start-2 min-[800px]:col-span-2"
  >
    BANNER
  </div>
</div>
