---
import Github from '/icons-vectors/github.svg?url';
import Linkedin from '/icons-vectors/linkedin.svg?url';
import Twitter from '/icons-vectors/twitter.svg?url';
---

<section>
  <h1>Contact me section</h1>
  <p>
    Looking for a global developer to join your team or build your next app? I'm
    currently open to new opportunities in mobile development and beyond.
    Whether you have a project idea, a role to discuss, or just want to connect
    — let's talk.
  </p>

  <div>
    <div>
      <img src={Github} alt="icon" />
      <span>Github</span>
    </div>
    <div>
      <img src={Linkedin} alt="icon" />
      <span>Linkedin</span>
    </div>
    <div>
      <img src={Twitter} alt="icon" />
      <span>Twitter</span>
    </div>
  </div>
</section>
