---
import ProfileCard from './ProfileCard.astro';
---

<main class="mt-3 pt-10 px-3 h-screen text-center">
  <ProfileCard />
  <div>
    <p class="mt-4 text-5xl uppercase">Software Engineer</p>
    <p class="mt-4">
      Passionate about creating intuitive and engaging user experiences and
      specialised into turning ideas into beautiful interfaces.
    </p>
  </div>
  <div class="container flex justify-between w-full mt-4">
    <div>
      <span class="text-4xl">+3</span>
      <p class="uppercase text-gray-500">years of experience</p>
    </div>
    <div>
      <span class="text-4xl">+20</span>
      <p class="uppercase text-gray-500">projects completed</p>
    </div>
    <div>
      <span class="text-4xl">+7</span>
      <p class="uppercase text-gray-500">worldwide clients</p>
    </div>
  </div>
</main>
