<main class="mt-10 pt-14 px-3 h-screen text-center">
  <p class="text-3xl">Hi am gordian</p>
  <p class="text-6xl">also known as</p>
  <p class="text-9xl">Guardianprime</p>
  <p class="italic mt-4">i am a builder and backend engineer</p>
</main>
