<header
  class="flex items-center justify-between border-b border-black py-6 px-3 fixed top-0 right-0 left-0 z-1000 bg-white backdrop-opacity-10"
>
  <div>
    <a href="/">
      <span>Guardianprime</span>
    </a>
  </div>
  <nav class="lg:w-1/3 lg:flex lg:justify-between">
    <section class="MOBILE-MENU flex lg:hidden">
      <div class="HAMBURGER-ICON space-y-2" id="hamburger">
        <span class="block h-0.5 w-8 animate-pulse bg-gray-600"></span>
        <span class="block h-0.5 w-8 animate-pulse bg-gray-600"></span>
        <span class="block h-0.5 w-8 animate-pulse bg-gray-600"></span>
      </div>

      <div id="menu" class="hideMenuNav">
        <div class="absolute top-0 right-0 px-8 py-8" id="close-btn">
          <svg
            class="h-8 w-8 text-gray-600"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </div>
        <ul class="flex flex-col items-center justify-between min-h-[250px]">
          <li class="border-b border-gray-400 my-8 uppercase">
            <a href="/#about">About</a>
          </li>
          <li class="border-b border-gray-400 my-8 uppercase">
            <a href="/#projects">Project</a>
          </li>
          <li class="border-b border-gray-400 my-8 uppercase">
            <a href="/#contact">Contact</a>
          </li>
          <li class="border-b border-gray-400 my-8 uppercase">
            <a href="/#skills">Skills</a>
          </li>
        </ul>
      </div>
    </section>

    <ul class="DESKTOP-MENU hidden space-x-8 lg:flex lg:w-full">
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#projects">Projects</a>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
      <li>
        <a href="/#skills">Skills</a>
      </li>
    </ul>
  </nav>
  <div class="lg:flex">
    <button>Resume</button>
    <button>Book a call</button>
  </div>
</header>

<style>
  .hideMenuNav {
    display: none;
  }
  .showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
</style>

<script>
  const hamburger = document.getElementById('hamburger');
  const menu = document.getElementById('menu');
  const closeBtn = document.getElementById('close-btn');

  hamburger?.addEventListener('click', () => {
    menu?.classList.toggle('showMenuNav');
    menu?.classList.toggle('hideMenuNav');
  });

  closeBtn?.addEventListener('click', () => {
    menu?.classList.remove('showMenuNav');
    menu?.classList.add('hideMenuNav');
  });
</script>
