---

---

<header class="w-full">
  <ul
    class="flex justify-between py-3 px-4 rounded-2xl w-70 h-12 mx-auto bg-neutral-500 lg:w-1/2"
  >
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/contact">contact me</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</header>
