<nav>
		<div>
			<h3>GUARDIANPRIME</h3>
			<div></div>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Experience</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Skills</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div>
			<button>Resume</button>	
			<button>Book a call</button>
		</div>
	</nav>