---
import profileImage from '../assets/profile-image.jpg?url';
import twitter from '../assets/icons-vectors/twitter.svg?url';
import linkedin from '../assets/icons-vectors/linkedin.svg?url';
import github from '../assets/icons-vectors/github.svg?url';
---

<div class="container bg-white rounded-xl p-4 h-2/4">
  <div class="w-3/5 rounded-md mx-auto">
    <img src={profileImage} alt="profile image" class="rounded-lg" />
  </div>

  <div class="text-black">
    <p class="text-4xl">Okon Gordian</p>
    <p>Software Engineer that have created countless innovatice solutions</p>
  </div>
  <div class="flex justify-between w-2/3 mx-auto mt-3">
    <img src={twitter} class="w-8 h-8" />
    <img src={linkedin} class="w-8 h-8" />
    <img src={github} class="w-8 h-8" />
  </div>
</div>
