---
import profileImage from '../assets/profile-image.jpg?url';
import twitter from '../assets/icons-vectors/twitter.svg?url';
import linkedin from '../assets/icons-vectors/linkedin.svg?url';
import github from '../assets/icons-vectors/github.svg?url';
---

<div class="container bg-white rounded-xl h-2/4">
  <div class="w-3/5 rounded-md mx-auto">
    <img src={profileImage} alt="profile image" class="rounded-lg" />
  </div>
  <div class="text-white bg-gray-700 h-1/2 pt-4 px-2 rounded-t-xl rounded-b-xl">
    <h1 class="text-4xl mt-6">Okon Gordian</h1>
    <p class="text-center">Software Engineer. Problem solver.</p>
    <p class="text-center">Website builder.</p>
    <div class="flex justify-between w-2/3 mx-auto mt-3">
      <img src={twitter} class="w-8 h-8" />
      <img src={linkedin} class="w-8 h-8" />
      <img src={github} class="w-8 h-8" />
    </div>
  </div>
</div>
