<section id="projects" class="h-screen p-4">
  <h1 class="text-5xl uppercase text-center">Recent Projects</h1>
  <p>
    Real apps, real users, real impact. Download them now on the App Store &
    Play Store.
  </p>
  <div
    class="container lg:grid-cols-3 lg:grid lg:gap-2 w-full lg:h-1/2 outline-2 outline-violet-950 p-2"
  >
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>school website</h2>
      <p>Build a school management webstite or platform for potential buyers</p>
    </div>
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>Restaurant website</h2>
      <p>small business restaurant website</p>
    </div>
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>E-commerce website</h2>
      <p>E-commerce website for a gadgets store</p>
    </div>
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>Prodoc project</h2>
      <p>tool that utitlizes ai and integrates it into code</p>
    </div>
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>Church Website</h2>
      <p>Website for a church</p>
    </div>
    <div class="outline-2 outline-pink-950 rounded-md">
      <div class="rounded">
        <img src="" alt="project image" />
      </div>
      <h2>Real estate management site</h2>
      <p>Website that handles or works in the real estate sector</p>
    </div>
  </div>
</section>
