<section>
  <h1>Projects</h1>
  <p>
    Real apps, real users, real impact. Download them now on the App Store &
    Play Store.
  </p>
  <div class="container">
    <div>
      <h2>school website</h2>
      <p>Build a school management webstite or platform for potential buyers</p>
    </div>
    <div>
      <h2>Restaurant website</h2>
      <p>small business restaurant website</p>
    </div>
    <div>
      <h2>E-commerce website</h2>
      <p>E-commerce website for a gadgets store</p>
    </div>
    <div>
      <h2>Prodoc project</h2>
      <p>tool that utitlizes ai and integrates it into code</p>
    </div>
    <div>
      <h2>Church Website</h2>
      <p>Website for a church</p>
    </div>
    <div>
      <h2>Real estate management site</h2>
      <p>Website that handles or works in the real estate sector</p>
    </div>
  </div>
</section>
